name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Pull redis image
        run: docker pull redis:8.4
        
      - name: Setup Rust Toolchain for GitHub CI
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c

      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov

      - name: Add LLVM tools
        run: rustup component add llvm-tools-preview

      - name: Generate coverage
        run: |
          cargo llvm-cov clean --workspace
          cargo llvm-cov --workspace --lcov --output-path lcov.info
          
      - name: Rewrite LCOV paths to relative
        run: |
          sed -i "s|SF:.*/${GITHUB_REPOSITORY#*/}/|SF:|" lcov.info

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
